<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="btn_add_clicked()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Welcome to TodoListe!</h2>

  <ion-content>
    <ion-item-group>
      <ion-item *ngFor="let item of Todos" (click)="onloadItemsPage(item)"><strong>{{ item.name}}</strong>
      <br>
        <i *ngIf="nbr_non_fini(item.items)!=-1">Nombre de TODOs non fini : <b>{{nbr_non_fini(item.items)}}</b></i>
        <i *ngIf="nbr_non_fini(item.items)==-1">Liste ne Contient aucun items !!</i>
        <ion-icon name="arrow-dropright-circle"  color ="primary" item-right></ion-icon>

      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-content>




